option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    PORT: 8080
    DATABASE_URL: postgresql://flowtracker:Z6A1LYap!$]5#iTw@flowtracker-db.cyl8ywmuqb39.us-east-1.rds.amazonaws.com:5432/flowtracker
    JWT_SECRET: aU8JUDkwAYQEXOiScRXu3eYvcT2hysshevYMQTHacSM=
    CORS_ORIGIN: "*"
    FRONTEND_URL: http://localhost:5173

